<!DOCTYPE html>
<html>
  <head>
    <title>Basic File Upload</title>
  </head>
    
  <body>
    <html>
  <body>
    <!-- Post form. Note that the encoding type is set to 'multipart/form-data'. You cannot
    upload files using the standard form-urlencoded encoding type. Also note that because we
    are using the default html form action, we have named out file sampleFile. This will become
    relevant in our src/controllers/files.js when trying to access the file on the server. -->
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> 
    
    <!-- Get form. Just a standard GET request getting made with a query parameter of ?filename -->
    <form ref='retrieveForm' 
      id='retrieveForm' 
      action='/retrieve' 
      method='get'>
      <label for='fileName'>Retrieve File By Name: </label>
      <input name='fileName' type='text' />
      <input type='submit' value='Download!' />
    </form>
  </body>
</html>
  </body>
</html>